.CookieConsent{
    background: rgba(20, 20, 20, 1);

}

*{
    box-sizing: border-box;
}
.modal{
    max-width: 791px;
    height: auto;
    width: 50%;
    max-height: 90vh;
    overflow-y: auto;
}

.modal_content{
    padding: 0px 24px;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .row::after{
    display: table;
    clear: both;
    content: "";
  }
  
  .col-1{width: 8.33%;}
  .col-2{width: 16.66%;}
  .col-3{width: 25%;}
  .col-4{width: 33.33%;}
  .col-5{width: 41.66%;}
  .col-6{width: 50%;}
  .col-7{width: 58.33%;}
  .col-8{width: 66.66%;}
  .col-9{width: 75%;}
  .col-10{width: 83.33%;}
  .col-11{width: 91.66%;}
  .col-12{width: 100%;}