.CookieConsent{
    background: rgba(20, 20, 20, 1);

}

*{
    box-sizing: border-box;
}
.modal{
    max-width: 791px;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 40px;
    gap: 40px;
    border-radius: 20px;
    background: var(--background-bg-popover, rgba(255, 255, 255, 1));
    width: 50%;
}

.modal_content{
    padding: 0px 24px;
}

.roboto{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    text-align: left;
}

.inter{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
}

.cookie_info{
    display: flex;
    justify-content: space-between;
    padding: 24px 0px;
    
    
}

.strictly_necessary{
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    text-align: left;
    padding: 0px;
}

.strictly_necessary_content{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
}

.strictly_necessary_div{
    display: flex;
    justify-content: space-between;
    width: 70%;
}