<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="font-family: 'Poppins', Arial, sans-serif">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="staticSiteContainer">
      <tr>
        <td align="center" style="padding: 20px">
          <table
            class="content"
            width="600"
            border="0"
            cellspacing="0"
            cellpadding="0"
            style="border-collapse: collapse; border: 1px solid #cccccc"
          >
            <!-- Header -->
            <tr>
              <td
                class="header"
                style="
                  background-color: #000000;
                  padding: 40px;
                  text-align: center;
                  color: white;
                  font-size: 24px;
                "
              >
                <span style="border-bottom: 2px solid #ffffff">IB</span>OUND <span style="padding: 4px; background-color: #f56c6c;">22</span>
              </td>
            </tr>

            <!-- Body -->
            <tr>
              <td
                class="body"
                style="
                  padding: 40px;
                  text-align: left;
                  font-size: 16px;
                  line-height: 1.6;
                "
              >
                Hello, All! <br />
                Lorem odio soluta quae dolores sapiente voluptatibus recusandae
                aliquam fugit ipsam.
                <br /><br />
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                corporis sint eum nemo animi velit exercitationem impedit.
                Incidunt, officia facilis atque? Ipsam voluptas fugiat
                distinctio blanditiis veritatis.
              </td>
            </tr>

            <!-- Call to action Button -->
            <tr>
              <td style="padding: 0px 40px 0px 40px; text-align: center">
                <!-- CTA Button -->
                <table cellspacing="0" cellpadding="0" style="margin: auto">
                  <tr>
                    <td
                      align="center"
                      style="
                        background-color: #345c72;
                        padding: 10px 20px;
                        border-radius: 5px;
                      "
                    >
                      <a
                        
                        style="
                          color: #ffffff;
                          text-decoration: none;
                          font-weight: bold;
                          cursor:pointer;
                        "
                        >Register here</a
                      >
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td
                class="body"
                style="
                  padding: 40px;
                  text-align: left;
                  font-size: 16px;
                  line-height: 1.6;
                "
              >
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                corporis sint eum nemo animi velit exercitationem impedit.
              </td>
            </tr>
            <!-- Footer -->
            <tr>
              <td
                class="footer"
                style="
                  background-color: #333333;
                  padding: 40px;
                  text-align: center;
                  color: white;
                  font-size: 14px;
                "
              >
                Copyright &copy; 2024 | Your brand name
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html> -->
