:root{
    --bg-general: #E4E4E7;
    --bg-popover: #ffffff;
    --text-primary: #71717A;
    --text-dark: #0A0A0A;
    --neutral: #525252;
    --accent: #F97316;
    --bg-border: #E4E4E7;
    --border-stroke: #CBD5E1;
}
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}