.pagePrivacy{
    max-width: 1440px;
    margin: auto;
}
.banner{
    background-color: #000000;
    color: #fafafa;
    height: 324px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.banner > h1{
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    line-height: 72.61px;
}

.banner > p{
    font-family: Inter;
    font-size: 28px;
    font-weight: 400;
    line-height: 33.89px;
}

.header{
    font-family: Inter;
    font-size: 28px;
    font-weight: 700;
    line-height: 33.89px;
    text-align: left;
    color: #525252;
}

.des{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #525252;
}

.row2{
    min-width: 316px;
}


.row1{
    max-width: 617px;
}

.content{
    max-width: 1000px;
    margin: auto;
    margin-top: 64px;
    padding: 20px;
}

.subHeader{
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    text-align: left;
}

.information{
    margin-top: 40px;
}

.information > *{
    margin-top: 10px;
}

.row2 ul{
    list-style-type:disc;
    margin-top: 14px;
}
.row2 ul > li{
    margin-bottom: 6px;
}

.link{
    color: #F97316;
}

@media (max-width:880px) {
    .flexContainer{
        flex-direction: column-reverse;
    }
    .row2{
        min-width: auto;
    }
}

@media (max-width:800px) {
    .banner > h1{
        font-family: Inter;
        font-size: 28px;
        font-weight: 700;
        line-height: 33.89px;
    }
    .banner > p{
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.78px;
        text-align: center;
    }
}