@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --dark-black: #0a0a0a;
  --drak-gray: #71717a;
  --stroke-color: #cbd5e1;
}

*,
*::before,
*::after {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.commentCard {
  width: 100%;
  max-width: 54rem;
  background: #fff;
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;
  border-radius: 0.5rem;
  border: 0.8px solid var(--stroke-color);
  padding: 1.2rem 1rem;
}

.userProfilePic {
  width: 40px;
  height: 40px;
}

.commentDetail {
  display: flex;
  flex-direction: column;
  gap: 0.88rem;
}

.commentDetailNames {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.commentDetailNames > h1 {
  width: fit-content;
  color: var(--dark-black);
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
}

.commentDetailNames > p {
  color: var(--drak-gray);
  font-family: Inter;
  font-size: 0.75rem;
  font-weight: 500;
}

.commentDetailContent {
  width: 100%;
  color: var(--drak-gray);
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 400;
}

.commentDetailPubDate {
  display: flex;
  gap: 0.75rem;
  margin-top: -0.13rem;
}

.commentDetailPubDate > p {
  color: var(--drak-gray);
  font-family: Inter;
  font-size: 0.75rem;
  font-weight: 400;
}

.commentDetailActions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.commentDetailActionsBtn {
  display: flex !important;
  gap: 0.25rem;
  align-items: center;
  border-radius: 0.24863rem;
  border: 0.669px solid #cbd5e1;
  background: #fafafa;
  padding: 0.25rem 0.33rem;
}

@media screen and (min-width: 800px) {
  .commentCard {
    padding: 1rem 1rem;
  }

  .commentDetailNames {
    gap: 0.38rem;
  }

  .commentDetailNames > h1 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .commentDetailNames > p {
    font-size: 0.875rem;
  }

  .commentDetailContent {
    font-size: 1rem;
  }
}
